* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f1d3;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #333;
}

h1 {
    text-align: center;
    background-color: #333;
    color: #fc9630;
    font-size: 3.5em;
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
}

h1 a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 20px;
}

ul li a {
    text-decoration: none;
    font-size: 1.2em;
    color: #333;
    display: inline-block;
    padding: 12px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

ul li a:hover {
    background-color: #fc9630;
    color: white;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.5em;
    }

    ul li a {
        font-size: 1em;
    }
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
    h1 {
        font-size: 2em;
    }

    ul li a {
        font-size: 0.9em;
    }
    
}

@media only screen and (max-width: 480px) and (orientation: portrait) {
    h1 {
        font-size: 1.5em;
    }

    ul li a {
        font-size: 0.8em;
    }
}

:root {
    --primary-color: #333;
    --secondary-color: #fc9630;
    --background-color: #f4f1d3;
    --text-color: #333;
}